* {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1rem;
    line-height: 1.4;

}

.container{
    display: flex;
    height: 47rem;
    position: relative;
    overflow: hidden;
}

body{
    margin:0;
    overflow: hidden;
}

.logo{
    width: 100%;
}

.filters {
    width: 17rem;
    height: 100%;
    max-width: 17rem;
    background-color: #e9ebee;
    position: relative;
    min-width: 17rem;
    overflow: hidden;
}

.filters-container{
    overflow: auto;
    max-height: 85%;
}

.filters .title{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background-color: #22a7f0;
    color: #0e226f;
}

.filter {
    box-shadow: 0 2px 12px -4px rgba(0,0,0,.1);
    margin: 0.5rem;
    border: 0;
    padding-bottom: 1px;
    border-radius: 3px;
    background-color: #fff;
}

.filter .collapse-filter{
    text-align: center;
    font-size:1.5rem;
    position:relative;
}

.filter-options{
    margin: 1rem;
    max-height: 10rem;
    overflow-y: auto;
}

.filter-options > label{
    display: block;
    position: relative;
}

.collapse-filter .collapse-button {
    position: absolute;
    right: 0.5rem;
    font-size: 1.3rem;
    top: 0.5rem;
}

.map-container {
    width: 80%;
    height: 100%;
    background-color: red;
}

#map{
    height: 87%;
}

.selected-filters{
    position: relative;
    height: 100px;
    width: 100%;
    background: #98999b;
}

#fullscreen {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
}
#fullscreen img{
    position: absolute;
    height: 75%;
    margin: auto;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
}
.image-title
{
    text-align: center;
    color: white;
    padding: 0;
}
.image-caption
{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}
.image-caption a{
    text-decoration: none;
    color: white;
}
.close-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: whitesmoke;
}

.getting-started-container{
    content: "";
    background: url('../img/photo-collage-background.jpg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}

.getting-started-box
{
    position: absolute;
    margin: auto;
    width: 800px;
    height: 500px;
    top: 0;    left: 0;    right: 0;    bottom: 0;
    z-index: 3;
    background: rgba(0,0,0,0.5);
    animation: 0.8s ease-in-out 0s 1 slideInFromTop;
}

.getting-started-box img {
    width: 185px;
    display: block;
    margin: 0 auto;
}
.getting-started-box p {
    margin: 25px 50px;
    font-size: 22px;
    color: white;
    font-family: system-ui, sans-serif;
}

.fa-map-marker {
    font-size: 36px !important;
    margin: 0 10px;
}

a {
    text-decoration: none;
}
.button {
    background-color: #7a449b;
    width: 250px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 26px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    margin: 0 auto;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #9b4f97;
    width: 260px;
}
