* {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1rem;
    line-height: 1.4;

}

.container{
    display: flex;
    height: 47rem;
    position: relative;
    overflow: hidden;
}

body{
    margin:0;
    overflow: hidden;
}

.filters {
    width: 17rem;
    height: 100%;
    max-width: 17rem;
    background-color: #e9ebee;
    position: relative;
    min-width: 17rem;
    overflow: hidden;
}

.filters-container{
    overflow: auto;
    max-height: 90%;
}

.filters .title{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background-color: #22a7f0;
    color: #0e226f;
}

.filter {
    box-shadow: 0 2px 12px -4px rgba(0,0,0,.1);
    margin: 0.5rem;
    border: 0;
    padding-bottom: 1px;
    border-radius: 3px;
    background-color: #fff;
}

.filter .collapse-filter{
    text-align: center;
    font-size:1.5rem;
    position:relative;
}

.filter-options{
    margin: 1rem;
    max-height: 10rem;
    overflow-y: auto;
}

.filter-options > label{
    display: block;
    position: relative;
}

.collapse-filter .collapse-button {
    position: absolute;
    right: 0.5rem;
    font-size: 1.3rem;
    top: 0.5rem;
}

.map-container {
    width: 80%;
    height: 100%;
    background-color: red;
}

#map{
    height: 87%;
}

.selected-filters{
    position: relative;
    height: 100px;
    width: 100%;
    background: #98999b;
}

#fullscreen {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
}
#fullscreen img{
    position: absolute;
    height: 75%;
    margin: auto;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
}
.image-title
{
    text-align: center;
    color: white;
    padding: 0;
}
.image-caption
{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}
.image-caption a{
    text-decoration: none;
    color: white;
}
.close-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: whitesmoke;
}
