* {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1rem;
    line-height: 1.4;

}

.container{
    display: flex;
    height: 47rem;
    position: relative;
    overflow: hidden;
}

body{
    margin:0;
}

.filters {
    width: 30%;
    height: 100%;
    background-color: #e9ebee;
}

.map-container {
    width: 70%;
    height: 100%;
    background-color: red;
}

.map{

}

.selected-filters{

}

