.filters {
    width: 17rem;
    height: 100%;
    max-width: 17rem;
    background-color: #e9ebee;
    position: relative;
    min-width: 17rem;
    overflow: hidden;
}

.filters-container{
    overflow: auto;
    max-height: 55%;
}

.filters .title{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background-color: #22a7f0;
    color: #0e226f;
}

.filter {
    box-shadow: 0 2px 12px -4px rgba(0,0,0,.1);
    margin: 0.5rem;
    border: 0;
    padding-bottom: 1px;
    border-radius: 3px;
    background-color: #fff;
}

.filter .collapse-filter{
    text-align: center;
    font-size:1.5rem;
    position:relative;
}

.filter-options{
    margin: 1rem;
    max-height: 10rem;
    overflow-y: auto;
    transition: all 1s ease;
}


.filterAnimation {
    z-index: 300;
    -webkit-animation-name: cssAnimation3;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes cssAnimation3 {
    from {
        height: auto
    }
    to {
        height: 0;
        display: none;
    }
}

.filter-options > label{
    display: block;
    position: relative;
}

.collapse-filter .collapse-button {
    position: absolute;
    right: 0.5rem;
    font-size: 1.3rem;
    top: 0.5rem;
    cursor: pointer;
}

.selected-filters{
    position: relative;
    height: 100px;
    width: 100%;
    background: #eee;
    display: inline-block;
}

.selected-filter{
    display: inline-flex;
    color: #000;
    margin-left: 0.4rem;
    padding-right: 1.5rem;
    border: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    height: 2.2rem;
    padding-left: 0.5rem;
    background: white;
}

.selected-filters-container{
    width: 95%;
    line-height: 2rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    left: 3rem;
    white-space: nowrap;
}

.remove-filter {
    position: relative;
    top: 0.4rem;
    left: 1rem;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 0.75rem;
}

.remove-filter:hover {
    color: #7a449b;
    transform: rotate(180deg);
}

.remove-all-filters{
    color: red;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.title {
    color: #363636;
    font-family: 'Verdana', serif;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 0 0;
    height: 3rem;
    padding-left: 1rem;
    display: inline-table;

}
